.header {
	height: 82px;
	width: 100%;
	background-color: #3B5998;
	background-image: linear-gradient(#4e69a2, #3b5998 1%);
	border-bottom: 1px solid #133783;
}

.fb {
	width: 205px;
    height: 92px;
	margin-top: 4px;
	display: inline-block;
	cursor: pointer;
}

#facebook {
   max-width: 100%;
   max-height: 100; 
}
.login {
	width: 392px;
	float: right;
	vertical-align: top;
}

.label {
	color: white;
	font-size: 12px;
	margin: 0;
	font-family: Helvetica, Arial;
	width: 150px;
	cursor: pointer;
}

.input {
	border: 1px solid #1d2a5b;
	width: 89%;
	height: 19px;
	padding-left: 3px;
	font-size: 12px;
	margin-right: 12px;
}

.submit {
	background-color: #4267b2;
	color: #fff;
	border: 1px solid rgba(14,14,14,0.39);
	border-radius: 2px;
	font-weight: bold;
	width: 50px;
	height: 24px;
	text-align: center;
	padding: 0;
	cursor: pointer;
}
.submit:hover {
	background-color: #3B5999;
}

.labelLink {
	color: #9cb4d8;
	font-size: 12px;
	margin: 0;
	font-family: Helvetica, Arial;
	width: 150px;
	cursor: pointer;
}

.labelLink:hover {
	text-decoration: underline;
}