<div class="footer">
	<div style="padding-top: 8px;" class="container">
		<div class="languages">
			<ul>
				<li>English (US)</li>
				<li><a class="lang" href="#">Español</a></li>
				<li><a class="lang" href="#">Français (France)</a></li>
				<li><a class="lang" href="#">中文(简体)</a></li>
				<li><a class="lang" href="#">العربية</a></li>
				<li><a class="lang" href="#">Português (Brasil)</a></li>
				<li><a class="lang" href="#">Italiano</a></li>
				<li><a class="lang" href="#">한국어</a></li>
				<li><a class="lang" href="#">Deutsch</a></li>
				<li><a class="lang" href="#">हिन्दी</a></li>
				<li><a class="lang" href="#">日本語</a></li>
				<li><button>+</button></li>
			</ul>
		</div>
		<div class="options">
			<table class="tbl">
					<tr class="tr">
						<td class="td"><a class="opt" href="https://www.facebook.com/r.php">Sign Up</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/login/">Log In</a></td>
						<td class="td"><a class="opt" href="https://messenger.com/">Messenger</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/lite/">Facebook Lite</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/mobile/?ref=pf">Mobile</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/find-friends?ref=pf">Find Friends</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/directory/people/">People</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/directory/pages/">Pages</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/places/">Places</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/games/">Games</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/directory/places/">Locations</a></td>
					</tr>
					<tr class="tr">
						<td class="td"><a class="opt" href="https://www.facebook.com/directory/celebrities/">Celebrities</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/marketplace/?ref=fb_home">Marketplace</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/directory/groups/">Groups</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/recipes/">Recipes </a></td>
						<td class="td"><a class="opt" href="https://l.facebook.com/l.php?u=http%3A%2F%2Fmomentsapp.com%2F&h=ATOToe6vxo6qXxKz3FcXHkv1smIYc4AL_PP9v11uZwgF4hdsQkVInrfA0G95DrUvvl4Eiiglrs2xzff-XUxfvm6mgmcs9dHHOcOsEdcRbwmc7A0-YOa6jXndnon91N0K-7Y&s=1">Moments</a></td>
						<td class="td"><a class="opt" href="https://l.facebook.com/l.php?u=https%3A%2F%2Finstagram.com%2F&h=ATOS65HrQpXTCp4ZMKgB-nsz9lFb5vwiNAC3Fz-BlfIWtz1XcabwK7-yBPYdtrvv71sTcdNr9-0BJ0CpDrMYsEQx6sNdQNVZ4T7cgm_-E5kuPHb3vOdlj39n6sXdSHkhNq8&s=1">Instagram</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/facebook">About</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/campaign/landing.php?placement=pflo&campaign_id=402047449186&extra_1=auto">Create Ad</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/pages/create/?ref_type=sitefooter">Create Page</a></td>
						<td class="td"><a class="opt" href="https://developers.facebook.com/?ref=pf">Developers</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/careers/?ref=pf">Careers</a></td>
					</tr>
					<tr class="tr">
						<td class="td"><a class="opt" href="https://www.facebook.com/privacy/explanation">Privacy</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/policies/cookies/">Cookies</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/help/568137493302217">Ad Choices</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/policies?ref=pf">Terms</a></td>
						<td class="td"><a class="opt" href="https://www.facebook.com/help/?ref=pf">Help</a></td>	
					</tr>
			</table>
		</div>
		<div class="b">
			<span class="fb"> Dorian Bramarov © 2017</span>
		</div>
	</div>
</div>